In [27]:
import pandas as pd
import numpy as np

In [28]:
content=[[0,'Sun'],[1,'Mon'],[2,'Tues'],[3,'Wed'],[4,'Thu'],[5,'Fri'],[6,'Sat']]

In [29]:
df=pd.DataFrame(content,columns=['No','Date of Week'])
print(df)

   No Date of Week
0   0          Sun
1   1          Mon
2   2         Tues
3   3          Wed
4   4          Thu
5   5          Fri
6   6          Sat

In [30]:
data = [{'a':1,'b':2},{'a':5,'b':10,'c':20},{'a':10,'b':20,'c':30}]

In [31]:
df=pd.DataFrame(data)
print(df)

    a   b     c
0   1   2   NaN
1   5  10  20.0
2  10  20  30.0

In [32]:
my_series = pd.Series({"United Kingdom":"London","India":"New Delhi",
"United States":"Washington","Belgium":"Brussels"})
print(pd.DataFrame(my_series))

                         0
United Kingdom      London
India            New Delhi
United States   Washington
Belgium           Brussels

In [47]:
df = pd.DataFrame(np.array([[1,2],[4,5],[7,8],[10,11]]))

In [48]:
print(df.shape)
print(len(df.index))

(4, 2)
4

In [50]:
d={'one':pd.Series([1,2,3],index=['a','b','c'])
  
  ,'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df = pd.DataFrame(d)
print(df['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [51]:
df['three'] = pd.Series([10,20,30],index=['a','b','c'])

In [52]:
print(df)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

In [53]:
del df['one']

In [55]:
print(df)

   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN

In [56]:
df.pop('two')
print(df)

   three
a   10.0
b   20.0
c   30.0
d    NaN

In [63]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

In [66]:
newdf = df._append(df2)

In [67]:
print(newdf)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [68]:
df=df.drop(0)
print(df)

   a  b
1  3  4